  
  /* .container{
    position: absolute;
  } */

  #footer {
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    clear: both;
    padding: 21px 0;
    font-size: 12px;
    color: black;
    text-align: center;
    background: white;
    opacity: 0.8;
    bottom: 0;
    left: 0;
    /* border-top: 8px solid #4aaaa5; */
    /* height: 50px; */
  }

    .footer-block {
      margin: 20px 0;
    }

    .clearfooter {
      height: 330px;
      clear: both;
      }

footer {
  clear: both;
  padding: 21px 0;
  font-size: 14px;
  color: black;
  text-align: center;
  background: white;
  opacity: 0.8;
  /* border-top: 8px solid #4aaaa5; */
  height: 50px;
  /* margin-top: 50px; */
}



form.signup,
form.login {
  margin-top: 50px;
}

.sticky-top{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.navbar{
  height:75px;
  color: #333;
  background-color: rgb(213, 220, 215);
  border:3px solid  rgb(186,211,194);
  text-justify: center;
  font-family: 'Scope One', serif;
  font-size: 16px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%; /* Full width */
}

/* Change background on mouse-over */
.navbar a:hover {
  background: rgb(235,227,206);
  color: black;
}

.active{
  margin-top:15px;
  font-family: 'Scope One', serif;
  font-size: 16px;
  font-weight: bold;
}

.navbar-nav li {
  /* width: 85px; */
  text-align: center;
}

.navbar-toggle {
  z-index: 100;
}

.container-fluid {
  margin-top: 10px;
}

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}
/*   
  #whitebackground {
    
    padding: 0px;
  } */
  
  
  #white{
    color:#efeee7;
  }
  /* .collapse.collapse.navbar-collapse{ 
    font-size: 18px;
    margin-top: 30px;
    margin-right: 100px
  } */
  
  .page-header {
    margin-top: 100px;
    padding: 1px;
    /* margin: 40px 0 20px; */
    border-bottom: 1px solid #eee;
    background: white;
    opacity: 0.4;
  }

#login{
  font-family: 'Pacifico', cursive;
  margin-top: 125px;
}

.Welcome{
  font-family: 'Scope One', serif;
  margin-top: 45px;
}

.login-page, p, .modalFont{
  font-family: 'Scope One', serif;
  font-size: 16px;
}

#submitPlace{
    font-family: 'Scope One', serif;
    font-size: 16px;
    height: 50px;
    width: 100px;
    color: black;
    background-color: rgb(213, 220, 215);
    border-color: rgb(213, 220, 215);
    margin-bottom: 25px;
}

#savedList{
  margin-left: 200px;
  font-family: 'Scope One', serif;
  font-size: 16px;
  height: 50px;
  width: 250px;
  color: black;
  background-color: rgb(186,211,194);
  border-color: rgb(186,211,194);
}

#deletePlace{
  font-family: 'Scope One', serif;
  font-size: 16px;
  height: 50px;
  width: 100px;
  color: black;
  background-color: rgb(213, 220, 215);
  border-color: rgb(213, 220, 215);
}

#savedListsDiv{
  margin-bottom: 25px;
}

  h1{
    color: black;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 49px;
    font-size: 80px;
    font-family: 'Courgette', cursive;
    text-align: center;
  } 

  h2{
    color: black;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 49px;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
  } 

  .panel-title {
    font-size: 30px;
    font-family: 'Playfair Display SC', serif;
  }

  .check {
    font-family: 'Barlow', sans-serif;
  }
  
#whatToDo,
#mapHolder {
 /* background-color: rgb(186,211,194); */
 color: black;
 font-size: 25px;
 padding: 15px;
}

#recommend {
  text-align: center;
}

  .col-md-4 {
    text-align: center;
    }
  #twitter1{
    width: 70px;
  }

 #loginBody, #signupBody{
  background-image: url("../assets/img/seigaiha.png");
 }

.popUp{
  font-family: 'Scope One', serif;
  font-size: 16px;
  color: black;
} 

#tableHeader{
  font-family: 'Scope One', serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

#tableRows{
  font-family: 'Scope One', serif;
  font-size: 16px;
  color: black;
}

  #map {
    height: 358px;
    width: 100%;
  }

  #rec-section {
    align-items: center;
  }
  
  .spacing{
    margin: 5px 0px;
  }

  .panel-default>.panel-heading {
    background: rgb(186,211,194);
    border-color: rgb(186,211,194);
  }

#closeModal {
  color: #333;
  background-color: rgb(186,211,194);
  font-family: 'Scope One', serif;
  font-size: 14px;
}

  .btn-default {
    color: #333;
    background-color: rgb(186,211,194);
    border-color: rgb(186,211,194);
  }

  .panel-body {
    background: rgb(235,227,206);
  }

  #audio{
    float: left;
    margin-right: 10px;
    padding-top: 0px;
  }

  .hidden{ 
    display: none; 
}

#numberChoices{
  font-weight: 400;
  
}

.thumbnail{
  height: 138px;
  font-family: 'Scope One', serif;
  font-size: 16px;
}

#tableHeader{
  background: rgb(186,211,194)
}

tbody{
  background: rgb(235,227,206)
}